{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}"> {% endcomment %}
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a><</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                <tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                    <tr>
                        <td> {{ account.name }} </td>
                        <td> {{ account.number}} </td>
                        <td> {{ account.receipts.all|length }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {% endblock content %}
    <footer></footer>
</body>
</html>
